* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  font-size: 62.5%;
}
#input {
  background: #333;
  position: absolute;
  width: 20rem;
  height: 100%;
}
#title {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: 0.1rem;
  font-size: 2.4rem;
  color: white;
  position: relative;
  top: 9rem;
  left: 1.5rem;
}
#textInput {
  position: relative;
  left: 1.5rem;
  top: 10rem;
}
#button {
  position: relative;
  left: 14rem;
  top: 11rem;
  background-color: #777;
  width: 4rem;
  text-align: center;
  padding: 0.2rem;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}
#output {
  position: absolute;
  left: 20rem;
  margin: auto;
  top: 0;
  bottom: 0;
}
